.stripe-style-input.svelte-kz7wxx {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .75rem;
    border-width: 2px;
    border-color: transparent;
    --tw-bg-opacity: 1 !important;
    background-color: rgb(241 241 241 / var(--tw-bg-opacity, 1)) !important;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-duration: .15s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.stripe-style-input.svelte-kz7wxx:focus {
    --tw-border-opacity: 1;
    border-color: rgb(164 202 254 / var(--tw-border-opacity, 1))
}